Button{
  width: 6em;
}

li{
  display: inline-block;
  margin-left: 1em;
}

.title { 
    color: #45ad26; 
    font-family: "Great Vibes", cursive; 
    font-size: 1.8em; 
    font-weight: normal; 
    text-align: center; 
    display: flex;
    align-items: center;
    margin-left: 6em; 
}

.title:hover {
  color :rgb(6, 168, 6);
}

.news{
  padding-left: 2%;
  padding-right: 2%;
}

.padd{
  padding-left: 15%;
  padding-right: 15%;
}

.morepadd{
  padding-left: 30%;
  padding-right: 30%;
}

.videos{
    background: #161415;
    background-size: cover;
    margin-left: 15%;
    margin-right: 15%;
    height: 66em;
    color: aliceblue;
}

.navigation{
  position: sticky;
  top: 0;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

.exploitation{
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 15%;
  padding-right: 15%;
}

.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  color: aliceblue;
  font-size: 14px;
  text-align: center;
  position: relative;
  background-color: #161415;
}

.footer a, .footer a:visited { color: #525252; }
.footer a:hover, .footer a:focus { color: #fff; }

.image{
  width: 100%;
  height: 15rem;
}


.title-fouter {  
    color: #45ad26; 
    font-family: "Great Vibes", cursive; 
    font-size: 2em; 
    font-weight: normal; 
    text-align: center;
    list-style: none;
    padding-left: 1.5em;
}

.ul-footer {
  text-align: center;
}

.header-user{
  height: 100%;
  padding: 15px 0;
  float: right;
}

.items{
  padding: 0rem;
  font-size: 1.2em;
}


.mynavbar1{
  background-color: rgb(16, 59, 37);
}

.mynavbar2{
  background-color: #1b7933;
}

.login-bar{
  padding-left:40%;
}


.pill {
  background-color: rgb(16, 59, 37);
  border-bottom: 5px solid rgba(255, 255, 255, 0.712);
}

.non-active-pill:hover{
  background-color: rgb(16, 59, 37);
  border-bottom: 5px solid rgba(255, 255, 255, 0.712);
}

.cardButton{
  padding: 30px auto 20px 20px !important;
  margin: auto !important;
  width: 500px;
  white-space: nowrap !important;
  text-align: center !important;
  background: linear-gradient(to right, #a9e0b7, #a9e0b7);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 1s 0s;
}

.cardButton:hover{
  background-color : #a9e0b7 !important;
  transition: 0.8s !important;
  background-size: 100% 100%;
}

.myCard:hover{
  background-color : #a9e0b7 !important;
  transition: 1.2s !important;
}

.card-title{
  font-size: 1.5em !important;
  color: #1b7933 !important;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}



/* .accept-button{
  display: inline-block;
  width: 120px;
  height: 50px;
  border:0.1em solid #000000;
  margin:0.3em 0.3em 0.3em 2em;
  border-radius:1em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  background-color:#45ad26;
  outline: none;
  transition: all ease 0.2s;
} */
.accept-button{
			display: inline-block;
			width: 120px;
			height: 50px;
      border: 2px solid rgb(0, 0, 0);
      margin:0.3em 0.3em 0.3em 2em;
			color: rgb(0, 0, 0);
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			text-decoration: none;
			box-sizing: border-box;
			border-radius: 50px;
			background-color: transparent;
			outline: none;
			transition: all ease 0.5s;
		}

.activeMeteo{
  font-size: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: transparent;
  margin-left: 10px;
  animation: rotate 1.4s ease 0.5s infinite;
}

@keyframes rotate{
  0%{
    transform: rotate(360deg);
  }
}

.successMeteo{
			position: relative;
      background-color: #45ad26;
      border: none;
			animation: bounce .3s ease-in;
		}
@keyframes bounce{
  0%{
    transform: scale(0.9);
  }
}

.successMeteo:before{
			content: '';
			position: absolute;
			background: url(icons/check-solid.svg) no-repeat; /* Check Solid is fontawesome icon */
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 31px;
			height: 31px;
			line-height: 31px;
			top: 8px;
}

.select-city{
  width: 100px;
	height: 50px;
  border: 2px solid rgb(0, 0, 0);
  margin:0.3em 0.3em 0.3em 2em;
  color: rgb(0, 0, 0);
	font-weight: bold;
}

.select-city > option{
  color: rgb(0, 0, 0);
	font-weight: bold;
}

.search-city{
  display: flex;
  justify-content: center;
}


/* .chart{
  margin-left: 20%;
  margin-right: 20%;
}  */

.content-stat{
  margin:5%;
  z-index: inherit;
}

.list-stat{
  max-width: 75%;
  margin-top: 80px;
  margin-left: 5%;
}

.list-group-item.active {
  z-index: inherit;
}

/* .GlobalDropDown{
  z-index: inherit;
}
.myDropDown{
  position: relative !important;
  right: 0 !important;
  top: 0 !important;
  margin-top: 0 !important;
  transform: none !important;
  z-index: inherit !important;
  display:block !important;
  width: 100% !important;
}
.GlobalDropDown[aria-expanded="true"]{
  z-index: inherit;
}
 */


.header-div{
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 50%;
  margin: auto;
}

.edit-form {
  max-width: 40%;
  margin: auto;
}

